## .NET Core / C# / Visual Studio
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# Scratch & temporary files
scratch/
.system_generated/
*.log
